
<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!-- Single gallery Item Start -->
                    <div class=" row col-4 single_gallery_item shoes wow fadeInUpBig" data-wow-delay="0.5s" style="height:200px;width:100%">
                        {% for i in item %}
                        <!-- Product Image -->
                        <div class="product-img">
                            <img src="{{i.image.url}}" alt="">
                            <div class="product-quicview">
                                <a href="#" data-toggle="modal" data-target="#quickview"><i class="#"></i></a>
                            </div>
                        </div>
                        <!-- Product Description -->
                        <div class="product-description">
                            <h4 class="product-price">{{i.price}}</h4>
                            <p>{{i.desc}}</p>
                            <!-- Add to Cart -->
                            <a href="{% url 'shop:product' i.id %}" class="add-to-cart-btn">MORE ITEMS</a>
                        </div>
                        {% endfor %}
                  </div>



{% endblock %}
