
<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row" style="margin-top:180px;">
        <h4 class="text-center fw-bold">Name Of Customer:{{u}}</h4>
        {% for i in orders %}
        <div class="col-5">
            <img src="{{i.product.image.url}}" width="30%">

        </div>
        <div class="col-6 p-4" style="align-item:center;">
            <hr class="w-25 border border-2 border-dark mx-auto">
            <h5><b>Product Name:</b>{{i.product.name}}</h5>
            <h5><b>Product Price:</b>{{i.product.price}}</h5>
            <h5><b>Delivery Address:</b>{{i.address}}</h5>
            <h5><b>Ordered On:</b>{{i.ordered_date}}</h5>
        </div>
        {% endfor %}

    </div>


</div>

{% endblock %}